<!doctype html>
<html lang="en">
  <head>

    <!-- https://getbootstrap.com/docs/4.0/examples/ -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css">

    <title>Dashboard Template for Bootstrap 4</title>
  </head>
  <body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Formulário</a>
      <h1 class="form-control form-control-dark w-100">Dashboard</h1>
</nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Cadastro <span class="sr-only">(current)</span>
                </a>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div>
              <main role="main">
                <section class="my-4">
                  <div class="container">
                      <h2>Cadastro de contatos</h2>
                  </div>
                </section>
              
                <section>
                  <div class="container">
                    <form method="post" #frm="ngForm" (ngSubmit)="criar(frm)">
                      <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome"
                          class="form-control" placeholder="Nome"
                          [(ngModel)]="contato.nome" required/>
                      </div>
              
                      <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email"
                          class="form-control" placeholder="E-mail"
                          [(ngModel)]="contato.email" required email/>
                      </div>
              
                      <button type="submit" class="btn btn-primary"
                        [disabled]="frm.invalid">Salvar</button>
                    </form>
                  </div>
                </section>
              
                
              </main>
            </div>
          </div>

          <h2>Listagem</h2>
          <div>
            <section class="mt-5">
              <div class="container">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light text-center">
                      <tr>
                        <th>Código</th>
          
                        <th class="w-50">Nome</th>
          
                        <th class="w-25">E-mail</th>
                      </tr>
                    </thead>
          
                    <tbody>
                      <tr *ngFor="let contato of contatos">
                        <td class="text-center w-25">{{contato.id}}</td>
          
                        <td>{{contato.nome}}</td>
          
                        <td>{{contato.email}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </main>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>